html {
	font-family: "Gaegu", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 30px;
	height: 100vh;
}

body {
	margin: 0px;
	height: 100%;
}

.left-panel {
	background-color: blueviolet;
	min-width: 200px;
	height: 100vh;
}

.right-panel {
	display: flex;
	flex-direction: column;
	margin-left: 10px;
}

.top-panel {
	height: 20%;
	min-height: 30px;
}

.page {
	display: grid;
	grid-template-columns: 2fr 8fr;
	height: 100%;
	width: 100%;
}

.input-area {
	text-align: center;
}

#input-text {
	width: 50%;
	font-size: 1rem;
	border-radius: 20px;
	padding: 20px;
}

#score {
	padding-left: 10px;
	height: 5vh;
}

#history {
	padding-left: 10px;
	height: 83vh;
	overflow: auto;
}

#history::-webkit-scrollbar {
	width: 8px;
}

#answer-container {
	height: 70%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

#notification {
	margin-top: 20px;
	padding: 20px;
	text-align: left;
	width: 50%;
	border: 2px solid red;
	background-color: #ffcad4;
	opacity: 0;
}

#timer {
	display: flex;
	align-items: center;
}

#timer p {
	margin-left: 10px;
}

#life {
	width: 100%;
}

@media (max-width: 600px) {
	html {
		font-size: 20px;
	}

	.left-panel {
		min-width: 130px;
	}
}
