html {
	font-family: "Gaegu", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 30px;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	border: 3px solid #694f8e;
	border-radius: 20px;
	background-color: #ffdfd6;
}

.menu {
	display: flex;
	flex-direction: column;
}

.button {
	width: 200px;
	margin: 10px;
	text-align: center;
	cursor: pointer;
}

.button:hover {
	background-color: #e3a5c7;
}

.instruction {
	display: none;
	flex-direction: column;
	align-items: center;
	position: fixed;
	padding: 10px;
	top: 20%;
	left: 20%;
	width: 60%;
	height: 60%;
	z-index: 1;
	overflow: auto;
}

.instruction::-webkit-scrollbar {
	width: 8px;
}

#close {
	background-color: #e3a5c7;
}

#close:hover {
	background-color: #b692c2;
}
